
label {
  position: absolute;
  top: 10px;
  color: rgba(255, 255, 255, 0.5);
  font: 400 20px Roboto;
  cursor: text;
  transition: .25s ease;

}

.login label {
  position: relative !important;
  top: 0px;
}


input {
  display: block;
  padding-top: 40px;
  border: none;
  border-radius: 0;
  color: white;
  background: transparent;
  transition: .3s ease;
}

input:valid ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
}

input:focus ~ label {
  top: 0;
  font: 700 22px Roboto;
  color: #394177;
}

input:focus ~ .bar:before {
  transform: translateX(0);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}

.bar {
  content: '';
  height: 1px;
  transition: .3s ease;
  position: relative;
}

.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #394177;
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}

#group {
  margin-top: 20px;
}