
label {
  display: block;
  position: relative;
  color: gray !important;
  font: 400 20px Roboto;
  cursor: text;
  transition: .25s ease;
  padding: 10px 0;
  margin: auto;
  width: 250px;
}

.login {
  margin: auto;
  width: 30%;
}

.create {
  &-company, &-user {
    margin: auto;
    width: 50%;
    padding-top: 50px;

    h1 {
      bottom: 50px;
    }
  }
}

input {
  display: block;
  padding-top: 40px;
  border: none;
  border-radius: 0;
  color: black;
  background: transparent;
  transition: .3s ease;

  &:valid ~ label {
    top: 0;
    font: 700 1em Roboto;
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    outline: none;
  }

  &:focus ~ label {
    top: 0;
    font: 700 1em Roboto;
    color: #394177;
  }

  &:focus ~ .bar:before {
    transform: translateX(0);
  }


}

.bar {
  content: '';
  height: 0.5px;
  transition: .3s ease;
  position: relative;
}

.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #394177;
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}

#group {
  margin-top: 20px;
}