html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 12px;
  text-decoration: none;
  color: black !important;
  background-color: #EDE1F2 !important;
  overflow: hidden scroll;
}

.home-container {
  padding: 100px;
  justify-content: center;
  align-items: center;
}

.form-control {
  height: auto;
  padding: 0 0;
  border: 0;
  border-radius: 0;
  border-bottom: solid #394177;
  background-color: transparent !important;

  &:focus {
    box-shadow: none !important;

  }

  &:disabled {
    opacity: 0.5;
  }
}

.container {
  padding: 50px 0 20px 0;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    font-weight: 200 !important;
  }


}

//COMPONENTS

.text-input-component {
  margin: auto;
  width: 250px;
}


.button-component {
  color: #394177;

  button {
    margin-top: 10px;
    color: #394177;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    float: right;
  }

  .search {
    float: none;
    margin: 0 auto 50px;
  }
}

.nav ul li:nth-child(2) > a:before {
  display: none !important;
}

.nav ul li:nth-last-child(2) a:after {
  border-left: 15px solid #EDE1F2 !important;
}

form {
  padding-top: 80px;
}

.upload {
  &-file {
    display: inline;
    font-size: 20px;
    padding-right: 50px;
    margin: auto;
    float: left;
    padding-left: 30%;

    &-div {
      padding-top: 50px;
      width: 800px;
      height: 80px;
    }
  }

  &-btn {
    float: left;
    display: inline;
    margin-top: -15px;
  }
}

.file {
  width: 250px;
  margin: auto;
  padding-bottom: 10px;

  &-form {
    width: 800px;
    margin: auto;
    padding-bottom: 20px;
  }

  &-label {
    padding-bottom: 30px;
  }
}

.document {
  &-form {
    box-shadow: 1px 0px 15px 5px rgba(0, 0, 0, 0.50);
    min-height: 50px;
    padding-bottom: 10px;
    background-color: white;
  }

  &-item {
    margin: auto;
  }

  &-img {
    max-height: 200px;
    width: 100%;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select::-ms-expand {
  display: none;
}

.drop-down {
  margin: auto;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 250px;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
    margin: auto;

    &:after {
      content: '<>';
      color: #333;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      /*Adjust for position however you want*/
      /*left line */
      float: right;
      font-size: inherit;
      position: absolute;
      pointer-events: none;
    }

  }

}

.mainPanel {
  margin: auto;
  width: 50%;
  height: 500px;
  padding-top: 300px;
  font-size: 30px;
}

.modal {
  margin: auto;

  &-dialog {
    position: relative;
    margin: 0 auto;
  }

  &-title {
    font-size: 15px;
  }

  &-footer {
    z-index: 1098;
  }

  &-body {
    z-index: 1099;
  }

  &-header {
    padding: 15px 0 13px 15px;

    .close {
      font-size: 15px;
      padding: 0 20px;
      margin: 0;
      z-index: 1099;
    }
  }
}


/* ===========================================================================
// Spinner ================================================================ */
.sweet-loading {
  height: 150px;
  margin: auto;
}

.loading {
  top: 40px;
  height: 100%;
  width: 500px;
}

.css-0 {
  text-align: center;
}

.waiting-dialog-text {
  div {
    width: 100px;
    margin: auto;
  }

  color: black;
  font-size: 20px;
}

.type-break {
  &-div {
    height: 30px;
    width: 100%;
  }
}

.type-title {
  display: block;
}

hr {
  width: 500px;
}

.docTitle {
  font-size: 22px;
  font-weight: 700;
  margin: 50px 0;
}

.fill {
  &-modal {
    margin: auto;
  }

  &-form {
    min-width: 1000px;
    min-height: 500px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: fit-content;
  }
}