@media (max-width: 300px) {

  .btn {
    font-size: 0.4em;
    padding: 3px 3px;
  }

  .text-input-component {
    height: 15px;
  }
  .form-group {
    margin-bottom: 10px;
  }

  label {
    position: relative;
    bottom: 20px;
    font: 200 0.3em Roboto;
    margin-bottom: 0px;
  }
  input {
    padding-top: 20px;

    &:valid ~ label {
      bottom: 10px;
      font: 200 0.5em Roboto;
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus ~ label {
      bottom: 10px;
      font: 200 0.5em Roboto;
      color: #394177;
    }
  }
  div#text-input-component group {
    margin-bottom: 5px;
    max-width: 200px;
  }
  #button-component button {
    margin-top: 10px;
  }



}